*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
ul,ol{
	list-style: none;
}
body{
	font-family: Apple System, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang, 冬青黑, 思源黑体, 微软雅黑, 文泉驿微米黑, 文泉驿正黑, 华文黑体, 中易黑体, 文泉驿点阵正黑;
	font-size: 14px;
}
a{
	color:inherit;text-decoration: none;
}